* {
    padding: 0;
    margin: 0;
}

body{
    background-size: cover;
    height: 92vh;
    align-items: center;
    background-position: center;
    justify-content: center;
}

.cont {
    width: 300px;
    margin: 0 auto;
}

.btn {
    margin: 10px 30%;
}

.contenedorQR {
    margin: 0 auto;
    display: flex;
    height: 150px;
    width: 150px;
}

.title {
    font-family: luna;
    margin: 50px auto;
    color: rgb(0, 0, 0);
    text-align: center;
    background: rgb(228,230,4);
    background: linear-gradient(333deg, rgba(228,230,4,1) 4%, rgba(190,3,3,1) 65%);
    border-radius: 10px;
    width: 50%;
}